.nextLink {
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    border-style: groove;
    color: #000;
    text-shadow: 3px 3px #ffd0d0 !important;
    padding: 4%;
}

#nextLink {
    text-align: center;
    margin: auto;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffd0d0;
    border-color: #000;
    border-radius: 2px;
}

.mainDivContainer {
    background-color: #35A29F;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

.SubContainer {
    gap: 8%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;

    .List {
        margin-top: 0.3%;
        height: max-content;
    }
}

.airplane1 {
    width: 79.99999804933762px;
    height: 62.99999846385338px;
    top: 121px;
    left: 103.82763671875px;
    rotate: -35.77deg;
}

.airplane2 {
    position: absolute;
    display: block;
    width: 79.99999804933762px;
    height: 62.99999846385338px;
    left: 920px !important;
    rotate: -205.77deg;
}

// Media queries for responsiveness
@media screen and (max-width: 768px) {
    .mainDivContainer {
        width: 100%;
        padding: 5px;
    }
    
    .SubContainer {
        flex-direction: column;
    }
    
    .List {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .nextLink {
        font-size: medium;
    }
}
