    .nextLink{
        text-decoration: none;
        font-size: large;
        font-weight: 700;
        
    }

.airplane1{
    width: 79.99999804933762px;
    height: 62.99999846385338px;
    top: 121px;
    left: 103.82763671875px;
    rotate: -35.77deg;
}

.airplane2{
    position: absolute;
    display: block;
    width: 79.99999804933762px;
    height: 62.99999846385338px;
    left: 920px !important
    ;
    rotate: -205.77deg;
    
}