.icons {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white !important;

    a {
        padding: 4%;
    }
}


.singleIcon{
    color: white;
}