.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white !important;
    height: 100px;

    a {
        padding-right: 4%;
    }
}


.singleIcon{
    color: white;
}