.chosenFlight {
    background-color: #c1ece4;
    padding: 2%;
    margin: auto;
    width: fit-content;
    border-color: #000 !important;
    border-style: groove;
    border-radius: 2px;
}

h1 {
    text-shadow: 1px 1px #ffd0d0;
    text-decoration: none !important;
    text-align: center;
    color: #000;
}

.SaveBtn {
    text-shadow: 1px 1px #ffd0d0;
    text-decoration: none !important;
    text-align: center;
    background-color: #c1ece4 !important;
    color: #000 !important;
}
.btnDiv {
    margin: 5% auto;
    width: fit-content;
    border-color: #000 !important;
    border-style: groove;
    border-radius: 2px;
}
