.chosenFlight {
    background: #35a29f;
    padding: 2%;
    margin: auto;
    width: fit-content;
    border-color: #000 !important;
    border-style: groove;
    border-radius: 2px;

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 1%;
    }
}

.btnDiv {
    color: #fff;
    padding: 2%;
    display: flex;
    text-align: center;
    a {
        text-decoration: none;
        font-weight: 600;
    }
}

.skyScannerLinks{
    display: flex;
    justify-content: space-around;
    a{
        
        color: #fff !important;
    }
}
h1 {
    text-decoration: none !important;
    text-align: center;
    color: #000;

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }
}

.SaveBtn {
    text-decoration: none !important;
    text-align: center;

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}

.btnDiv {
    margin: 5% auto;
    width: fit-content;
    border-radius: 2px;
    background-color: #000;

    @media screen and (max-width: 768px) {
        margin: 2% auto;
    }
}
