// Center everything
.mainDiv {
    border-color: #000;
    border-style: groove;
    border-radius: 2px;
    margin: 10% auto;
    width: fit-content;
    background: #ffd0d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 2%;

    // Add responsive styles for smaller screens
    @media (max-width: 768px) {
        padding: 1%;
    }

    .step1 {
        text-align: center;
        margin: 5% auto;
        font-size: 20px;

        // Add responsive styles for smaller screens
        @media (max-width: 768px) {
            margin: 2% auto;
        }
    }

    .searchDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 0 !important;

        // Add responsive styles for smaller screens
        @media (max-width: 768px) {
            margin: 0 !important;
        }
    }

    .findAPlaceBtnDiv {
        text-align: center;
        margin-top: 5%;

        .findAPlaceBtn {
            margin: 5% 0;
        }

        // Add responsive styles for smaller screens
        @media (max-width: 768px) {
            .findAPlaceBtn {
                margin: 2% 0;
            }
        }
    }
}
.search2Div {
    border-color: #000;
    border-style: groove;
    border-radius: 2px;
    margin: auto;
    width: fit-content;
    background: #ffd0d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 2%;
    text-align: center;
    margin-top: 8%;

    h1 {
        margin: 3% 0;
    }

    h2 {
        margin: 2% 0;
        font-size: 16px;

        // Add responsive styles for smaller screens
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    .airportsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;

        .airportClass {
            background-color: #c1ece4 !important;
            color: #000 !important;
            width: 32%;
            border-style: groove;
            border-color: #000;
            height: fit-content;
            padding: 3%;
            margin: 2% 0;

            // Add responsive styles for smaller screens
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}
