.containerDiv{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/images/imgForRegister.png');
    padding: 1%;
}
    


.mainDiv {
    padding: 2%;
    border-radius: 15px;
    margin: 10% auto;
    width: fit-content;
    background: #35A29F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;

    @media (max-width: 768px) {
        padding: 1%;
    }

    .step1 {
        text-align: center;
        margin: 5% auto;
        font-size: 20px;

        @media (max-width: 768px) {
            margin: 2% auto;
        }
    }

    .searchDiv {
        padding: 5%;
        border-radius: 15px;
        background-color: #eeeeeed1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 0 !important;

        @media (max-width: 768px) {
            margin: 0 !important;
        }
    }

    .findAPlaceBtnDiv {
        text-align: center;
        margin-top: 5%;
        color: white;
        
        .findAPlaceBtn {
            background-color: #000;
            margin: 5% 0;
        }

        // Add responsive styles for smaller screens
        @media (max-width: 768px) {
            .findAPlaceBtn {
                margin: 2% 0;
            }
        }
    }
}
.search2Div {
    padding: 5%;
    border-radius: 15px;
    background-color: #35A29F;
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 2%;
    text-align: center;
    margin-top: 8%;

    h1 {
        margin: 3% 0;
    }

    h2 {
        margin: 2% 0;
        font-size: 16px;

        // Add responsive styles for smaller screens
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    a{
        text-decoration: none !important;
    }

    .airportsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;

        .airportClass {
        background-color: #eeeeeed1;
            color: #000 !important;
            width: 32%;
            border-style: groove;
            border-color: #000;
            height: fit-content;
            padding: 3%;
            margin: 2% 0;

            // Add responsive styles for smaller screens
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}
