.mainContainerDiv {
    margin: auto !important;
}

.subMainContainerDiv {
    margin: 8%;
    margin-top: 2% !important;
}

.thirdParty {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
