.containerDiv{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/images/imgForRegister.png');
    padding: 1%;

}
.mainResultDiv{

    background-color: rgba(238, 238, 238, 0.8196078431);
}