.logInImg{
            background-repeat: "no-repeat";
            background-size: "cover";
            background-position: "center";
            background-image: url('../../../assets/images/forLogIn.png');
}

.linkLogIn{
    text-decoration: none !important;
}

.loadingSkeleton{
    margin: auto;

    .skeletonAvatar{
        display: flex;
        justify-content: center;
    }
}

h4{
    color: red;
}