.logInImg{
            background-repeat: "no-repeat";
            background-size: "cover";
            background-position: "center";
            background-image: url('../../../assets/images/forLogIn.png');
}

.linkLogIn{
    text-decoration: none !important;
}

h4{
    color: red;
}