.mainSearchDiv{
    // background-image: url('../../images/appBackground.png');
    width: 224vh;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.placesSearchDiv{
    display:flex ;
    flex-direction: row;
    margin: auto;
    width: 100%;
    margin-right: 29%;
    gap: 39%;
}    