@mixin paragraphStyling {
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 600; // Adjusted font-weight
    line-height: 14px; // Reduced line-height
    letter-spacing: 1.5px; // Reduced letter-spacing
    text-transform: uppercase;
}

.mainResultDiv {
    border-color: #000;
    border-style: groove;
    border-radius: 2px;
    background: #35a29f;
    margin: 5% auto; // Adjusted margin

    padding: 1%; // Adjusted padding
    width: 80%; // Adjusted width
    display: flex;
    flex-direction: column;

    .infoDiv {
        display: flex;

        .midInfoDiv {
            padding: 2% 1%; // Adjusted padding
            margin-top: 1%; // Adjusted margin
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .Duration,
            .flightCodes,
            .illustrate,
            .stopsInfo {
                color: #000 !important;
                @include paragraphStyling;
                font-size: 12px; // Smaller font size
                line-height: 12px; // Smaller line-height
                letter-spacing: 1px; // Smaller letter-spacing
            }
        }

        div {
            text-align: center;
        }
    }
}

.mainResultDivActive {
    &.selected {
        background: #92bd60; // Green background color when selected
    }

    border-color: #000;
    border-style: groove;
    border-radius: 2px;
    background-color: #eeeeeed1;
    margin: 5% auto; // Adjusted margin
    transition: 0.3s;
    padding: 1%; // Adjusted padding
    width: 80%; // Adjusted width
    display: flex;
    flex-direction: column;

    &:hover {
        background: #7db041; // Green background color when selected
        color: #fff !important;
    }

    &:active {
        background-color: #92bd60;
    }

    .infoDiv {
        display: flex;

        .midInfoDiv {
            padding: 2% 1%; // Adjusted padding
            margin-top: 1%; // Adjusted margin
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .Duration,
            .flightCodes,
            .illustrate,
            .stopsInfo {
                color: #000 !important;
                @include paragraphStyling;
                font-size: 12px; // Smaller font size
                line-height: 12px; // Smaller line-height
                letter-spacing: 1px; // Smaller letter-spacing
            }
        }

        div {
            text-align: center;
        }
    }
}

.pricingDiv {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 5%; // Adjusted margin for responsiveness
    width: 90%; // Adjusted width
    padding: 0.7%; // Adjusted padding
    background-color: rgb(12, 204, 12);

    .header {
        display: flex;
    }

    .priceDiv {
        display: flex;
    }
}

.airportHeader,
.airportName,
.airportCountry,
.timeOfDepartureDate,
.timeOfDeparture {
    color: #000 !important;
    font-size: 14px;
    @include paragraphStyling;
}

@media screen and (max-width: 768px) {
    .mainResultDiv,
    .mainResultDivActive {
        width: 95%;
    }

    .pricingDiv {
        margin-left: 3%;
    }
}
