@mixin paragraphStyiling {
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 64% */
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.field {
    margin: 2%;
}

.mainDivContainer {
    background-color: #c1ece4;
    margin: auto;
    padding: 3px;
    border-radius: 20px;

}

.mainResultDiv {
    border-radius: 20px;
    background: #ffd0d0;
    margin: auto;
    padding: 2%;
    width: 73%;
    display: flex;
    flex-direction: column;

    .infoDiv {
        display: flex;

        .midInfoDiv {
            padding: 3% 2%;
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .Duration {
                text-shadow: 3px 3px #ffd0d0 !important;
                color: #000 !important;
                @include paragraphStyiling;
            }

            .flightCodes {
                text-shadow: 3px 3px #ffd0d0 !important;
                color: #000 !important;
                @include paragraphStyiling;
            }
            .illustrate {
                @include paragraphStyiling;
            }
            .stopsInfo {
                @include paragraphStyiling;
            }
        }

        div {
            text-align: center;
        }
    }
}

.pricingDiv {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 74%;
    width: fit-content;
    padding: 0.7%;
    background-color: rgb(12, 204, 12);
    .header {
        display: flex;
    }

    .priceDiv {
        display: flex;
    }
}

.airportHeader {
    text-shadow: 1px 1px #ffd0d0 !important;
    color: #000 !important;
    font-size: 20px;
    @include paragraphStyiling;
}

.airportName {
    font-size: 14px;
    @include paragraphStyiling;
}

.airportCountry {
    font-size: 14px;
    @include paragraphStyiling;
}
.timeOfDepartureDate {
    text-shadow: 3px 3px #ffd0d0 !important;
    color: #000 !important;
    font-size: 14px;
    @include paragraphStyiling;
}
.timeOfDeparture {
    text-shadow: 3px 3px #ffd0d0 !important;
    color: #000 !important;
    font-size: 14px;
    @include paragraphStyiling;
}
